/* element selector */
body {
  margin-left: 50px;
}

p {
  font-family: "Courier New", Courier, monospace;
}

/* id selector */
#head1 {
  color: purple;
}

#head2 {
  color: blue;
}

/* class selectors */
.wow {
  color: red;
  font-variant: small-caps;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 42px;
}

/* grouping slectors */
h1,
h2 {
  font-family: cursive;
}

/* hover selector */
a {
  text-decoration: none;
  color: blueviolet;
}

a:hover {
  text-decoration: underline;
}
